@import url('https://fonts.googleapis.com/css2? family = Georama: ital, wght @ 1.100 & display = swap');

body{
    background-image: url(../img/transferir.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Georama', sans-serif;
    padding: 0px;
    margin: 0px;
}

h4{
    color: black;
}

.container{
    background-color: black;
    margin: auto;
    display: flex;
    padding: 5px;
    width: 88%;
}

.container_2{
    margin: auto;
    display: flex;
    padding: 5px;
    width: 88%;
    
}


img{
    width: 100%;
}

.box{
    margin: 5px;
    padding: 15px;
    text-align: justify;
    background-color: #000000;
    border-radius: 10px;
}
p{
    color: white;
}

a{
    color: cornflowerblue;
}

h2{
    color: dodgerblue;
}

.footer{
    padding: 10px;
    text-align: center;
    background-color: #181a1b;
    color: white;
}

@media(max-width: 800px){
    .container{
        margin: 0px;
        width: auto;
        display: block;
    }

    .box{
        width: auto;
    }
}

@media(max-width: 375px){
    h2{
        font-size: 18px;
    }
}